.all_talent_abilities_button{
    width:26px;
	height:26px;
	margin-top: 15px;
	margin-left: 160px;
	background-size:26px 26px;
	background-image: url('file://{resources}/images/custom_game/talent_abilities_button.png');
	wash-color:#CDF;
	transition-property: opacity;
	transition-duration: 0.2s;
	tooltip-position:bottom;
}

.all_talent_abilities_button:active
{
  sound:"ui_friends_slide_in"; 
}

#all_talent_abilities_panel{
	width: 1150px;
	height: 680px;
	margin-top: 16%;
	margin-left: 20%;
	/* border: 1px solid red; */
}

.all_talent_abilities_panel{
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #272d2e ), to( #121212 ) );
	vertical-align: center;
	horizontal-align: right;
	padding: 20px;
	flow-children: down;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.all_talent_abilities_panel_hide {
	opacity: 0;
}

.all_talent_abilities_lebel{
	margin-top: 10px;
	margin-left: 20px;
	vertical-align: top;
    font-weight: bold;
    font-size: 29px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), to( #fffb84 ) );
    /* text-shadow: 2px 2px 2px #757168; */
    text-overflow: clip;
}

#talent_ability{
    margin-top: -20px;
}

.TalentAbilitiesPanel {
	margin-top: 40px;
	flow-children: right-wrap;
	horizontal-align: center;
	overflow: squish scroll;
}

.AbilitiesRoot {
	width: 84px;
	height:120px;
	margin:25px;

    flow-children:down;
}

#ability_name {
	font-size:19px;
	margin-top: 10px;
	horizontal-align:center;
}

#close_button {
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top:-30px;
	margin-right:30px;
	horizontal-align: right;
}

