#push_time_remain{
    margin-left: 37%;
    margin-top: 7%;
}
#push_time_min{
    margin-left: 73%;
    margin-top: 6%;
}
#maohao{
    margin-left: 81%;
    margin-top: 6%;
}
#push_time_sec{
    margin-left: 84%;
    margin-top: 6%;
}

.ziti{
    vertical-align: top;
    font-weight: bold;
    font-size: 29px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), to( #fffb84 ) );
    text-shadow: 2px 2px 2px #757168;
    text-overflow: clip;
}


.push_time_panel {
	width: 26%;
    height: 10%;
    horizontal-align: left;
    vertical-align: top;
    margin-left: 64%;
    /* border: 1px solid red; */
}